body {
    font-family: 'Trebucht MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(table.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    border: none;
    font: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    color: #016f32;
    border-radius: 2px;
}